* {
  margin: 0;
  padding: 0;
}
header nav ul {
  background-color: #9be0d6;
  display: flex;
  padding: 10px 24px;
  justify-content: space-between;
}
header nav ul li {
  list-style: none;
  font-size: 28px;
  font-weight: 900;
}
.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height: 800px;
}

.bomb-container {
  background-color: #d29393;
}

.task-container {
  background-image: linear-gradient(#c89b3b, #fce8bd);
}

.question-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 8px 0;
  margin: 8px 16px;
  background-color: #3b6701;
  border-radius: 12px;
  letter-spacing: 4px;
}
.start {
  width: 60px;
  height: 60px;
  background-image: radial-gradient(#794b05, #bc8101);
  align-content: center;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left: calc(100% - 90px);
  user-select: none;
}

.bomb-container .timer {
  display: flex;
  justify-content: center;
  padding: 12px 4px;
  margin: 50px 14px 10px 14px;
  background-image: linear-gradient(#dc6b46, #d77757, #dc6b46);
  font-size: 25px;
  border-radius: 9px;
}

.bomb {
  margin: 100px;
}
.started {
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(35deg) scale(1.05);
  }
  50% {
    transform: rotate(-35deg) scale(0.95);
  }
  75% {
    transform: rotate(35deg) scale(1.05);
  }
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
  background-color: #487933;
  padding: 18px 20px;
  margin: 100px 18px;
  border-radius: 12px;
}

.questions .question {
  color: #c89b3b;
  font-size: 24px;
}

.questions .choices li {
  padding: 6px 8px;
  background-color: #5aa128;
  margin: 10px 8px;
  list-style: none;
  border-radius: 6px;
  user-select: none;
}
.questions .choices li:hover {
  background-color: #6fc830;
}
